<div class="container">
  <div class="row">
    <div class="registration-form">
      <%= simple_form_for(
        resource, 
        as: resource_name, 
        url: registration_path(resource_name)
      ) do |f| %>
        <%= f.error_notification %>
        <div class="registration-form-header">
          <h2><%= t("registrations.join") %></h2>
        </div>
        <div class="registration-form-body">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, 
            required: true, 
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
        <%= f.button :submit, 
          t("registrations.new.create_account_cta"), 
          class: "btn-primary" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
